<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Page</title>
</head>
<body>
<h1 style="text-align:center">Disease Prediction and Management Application</h1>
<form action="{% url 'result' %}" method="post">
    <label for="id_patientId">Patient ID:</label>
    <!--<input type="text" name="patientId" value="{{ form }}"><br>-->
    <select name="disease">
        <option value="diabetes">Diabetes</option>
        <option value="heartdisease">Heart Disease</option>
        <option value="cad">Coronary Artery Disease</option>
        <option value="copd">Chronic Obstructive Pulmonary Disease </option>
    </select>
    <br>
    <input type="submit" value="Calculate">
    {% csrf_token %}
</form>
</body>
</html>