<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tool Page</title>
</head>
<body>
    <h1 style="text-align:center">Disease Prediction and Management Application</h1>
    <div>
        <button>Disease Prediction Tool</button>
        <form action="{% url 'final_result' patient_id%}" method="post">
            <button>Results</button>
            {% csrf_token %}
        </form>
        <form action="{% url 'dashboard' patient_id%}" method="post">
            <button>Dashboard</button>
            {% csrf_token %}
        </form>
    </div>
    <form action="{% url 'result' patient_id%}" method="post">
        <select name="disease">
            <option value="diabetes">Diabetes</option>
            <option value="heartdisease">Heart Disease</option>
            <option value="cad">Coronary Artery Disease</option>
            <option value="copd">Chronic Obstructive Pulmonary Disease </option>
        </select>
        <br>
        <input type="submit" name="calculate" value="Calculate">

        {% csrf_token %}
    </form>
</body>
</html>